.rectangle {
    display: flex;
    height: 350px;
    width: 550px;
    background-color: rgb(167, 167, 167);
    border: 3px solid black;
    /* border-color: black; */
    border-radius: 10px;
    margin:0 auto;
    /* // font-size:0; */
    overflow:hidden;
  }


.submit-btn {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
.input-field {
    border-radius: 20px;
    height: 30px;
  }



  